body {
    background: rgb(146, 97, 5);
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    width: 100px;
    border: solid black;
}

h1 {
    border: solid black;
}

#scoreboard {
    border: solid black;
    display: flex;
    flex-direction: column;
}
